.error {
    background-color: red;
}

.hero {
    background: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .text-content {
    display: flex-item;
}